<div class="footer-container" xmlns:th="http://www.thymeleaf.org">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <i class="far fa-question-circle"></i> <a href="https://www.facebook.com/bland.huy" target="_blank">https://www.facebook.com/bland.huy</a>
   <br>
    <a> <i class="fas fa-blender-phone"></i> 01665557917</a>
   <br>
   <i class="fas fa-map-marked-alt"></i> 484 Lê Văn Việt , Quận 9 , TP.HCM

</div>